/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing:border-box;
}

body {
	color: #3a3a3a;
}

/* ================================= 
  Base Layout Styles
==================================== */

img {
	height: 20px;
	width: 30px;
	margin-right: 10%;
}

.main-header {
	background: #DCDCDC;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
}

.main-nav {
	display: flex;
	align-items: center;
	margin: 0 30px;
}

.name {
	margin: 0;
	padding: 10px 25px
}

.main-nav,
.name {
	font-size: 1rem;
}

.item {
	padding: 10px 25px;
	display: none;
}

.banner {
	background: #ADD8E6;
	margin: 0;
	padding: 50px;
	text-align: center;
}

.container {
	width: 90%;
	margin: auto;
}

.section {
	text-align: center;
}

.content {
	background: #5F9EA0;
	text-align: center;
	margin: 20px;
	height: 170px;
	padding: 15px;
}

.content-1 {
	margin-top: 0;
}

.action {
	background: #87CEEB;
	height:50px;
	width: 150px;
	margin: auto;
	text-align: center;
	line-height: 50px;
	margin-bottom: 20px;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 500px) {

 	.wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	.content {
		text-align: center;
		margin: 10px;
		height: 170px;
		padding: 15px;
		flex-grow: 1;
	}
	.action {
		margin-top: 20px;
	}
}

@media (min-width: 800px) {

	img {
		display: none;
	}

	.item {
		padding: 10px 25px;
		display: block;
	}

}

@media (min-width: 1200px) {

	.container {
		max-width: 1200px;
		margin: auto;
	}
}
