doctype html
html(lang="en")
  head
    title Triangular Number Calculator
  body
    header
        h1 Triangular Number Calculator
    block content 
    foot 
        p An app to speed up your Triangular Number calculation